<!DOCTYPE html>
<html lang="en-US">
<head>


<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css"
    rel="stylesheet" type="text/css"
>
<script 
    src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"
></script>


<head/>
<body>
      <form id='homebutton' method='post' action ='index' >
        <p>
          <input type='submit' value='Back' />
        </p>
      </form>


    <h1>CUSHING, OK WTI SPOT PRICE FOB </h1>

    {{ script | safe }}
    
    {{ div | safe }}
</body>

</html>